body {
  background-color: grey;
}

.jas {
  color: #010101;
  font-family: "Times New Roman", Times, serif;
}

.rasyid {
  font-family: "Times New Roman", Times, serif;
  color: #010101;
}

.container {
  background-color: aliceblue;
}

.con-rasyid {
  background-color: aliceblue;
}
